.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

button {
  background-color: aqua;
  padding: 5px;
  width: 75px;
  cursor: pointer;
}

.slide {
  background-color: rgb(255, 0, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
}